<div class="social-media">
  <a href="{{ facebook_url }}" class="facebook" data-network="facebook" target="_blank">
    <i class="fab fa-3x fa-facebook"></i>
    <span class="social-media-count">{{ facebook_count }}</span>
  </a>
  <a href="{{ google_url }}" class="google-plus" data-network="google-plus" target="_blank">
    <i class="fab fa-3x fa-google-plus"></i>
    <span class="social-media-count">{{ google_count }}</span>
  </a>
  <a href="{{ twitter_url }}" class="twitter" data-network="twitter" target="_blank">
    <i class="fab fa-3x fa-twitter"></i>
    <span class="social-media-count">{{ twitter_count }}</span>
  </a>
  <a href="{{ linkedin_url }}" class="linkedin" data-network="linkedin" target="_blank">
    <i class="fab fa-3x fa-linkedin"></i>
    <span class="social-media-count">{{ linkedin_count }}</span>
  </a>
  <a href="{{ foursquare_url }}" class="foursquare" data-network="foursquare" target="_blank">
    <i class="fab fa-3x fa-foursquare"></i>
    <span class="social-media-count">{{ foursquare_count }}</span>
  </a>
</div>

